<div class="container">

    <div>
        <h1>Speakers invitamos al proximo ng-colombia</h1>
    </div>

    <div class="speakers">
        <div class="img">
            <img src="./assets/igor.jpeg" alt="igor">
            <p class="center-text">Igor Minar</p>
        </div>
        <div class="img">
            <img src="./assets/todd.jpeg" alt="todd">
            <p class="center-text">Todd Motto</p>
        </div>
        <div class="img">
            <img src="./assets/papa.jpeg" alt="papa">
            <p class="center-text">John Papa</p>
        </div>
        <div class="img">
            <img src="./assets/teo.png" alt="teo">
            <p class="center-text">Mateo Castaño</p>
        </div>


    </div>


</div>