<div class="">
  <div class="">
    <h3>Profile</h3>
  </div>
  <div class="">
    <img src="{{profile?.picture}}" class="avatar" alt="avatar">
    <div>
      <label>
        <i class=""></i> Nickname</label>
      <h3 class="">{{ profile?.nickname }}</h3>
    </div>
    <pre class="">{{ profile | json }}</pre>
  </div>
</div>

<!-- <div>
  <p>
    home works!
  </p>
  <p>
    Access Token: {{token}}
  </p>
  <p>
    ID Token: {{idToken}}
  </p>
  <p>
    Expiration date Token: {{expireDate}}
  </p>
</div> -->