.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.speakers {
  margin: 30px 0 0 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.img > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.center-text {
  text-align: center;
}
