<div class="menu">
  <div class="container">
    <div class="img">
      <span>
        <img src="./assets/ng-medellin.svg" width="120" alt="logo">
      </span>
    </div>
    <div class="items">
      <span *ngFor="let item of items">
        <a [routerLink]="item.url">
          <span>{{item.name}}</span>
        </a>
      </span>
    </div>
    <div class="session">
      <span *ngIf="auth.isAuthenticated()">
        <a [routerLink]="['/profile']">
          <span>Profile</span>
        </a>
      </span>
      <a *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
        Log In
      </a>
      <a class="logout" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
        Log Out
      </a>
    </div>
  </div>
</div>